@import url('https://fonts.cdnfonts.com/css/averia-serif-libre');
@import url('https://fonts.googleapis.com/css?family=Inter');
/* width */
::-webkit-scrollbar {
    width: 1px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #E70000;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

body {
    margin: 0;
    padding: 0;
    background-color: F0F5F9;
    font-family: 'inter', sans-serif;
}
    header {
        height: 90px;
        position: sticky;
            top: 0;
        background: linear-gradient(0deg, rgba(250,248,240,0) 0%, rgba(240,245,249,0.6587009803921569) 50%, rgba(240,245,249,1) 100%);
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
        .header-container {
            display: flex;
            justify-content: space-between;
        }
            .small-section {
                height: 90px;
                width: 150px;
                display: flex;
                    justify-content: center;
                    align-items: center;
            }  
                .logo{
                    height: 70px;
                    width: 70px;
                }
            .cp-sec{
                height: 90px;
                width: 90px;
                display: flex;
                    justify-content: center;
                    align-items: center;
            }
                .cp {
                    display: none;

                }
            .tabs-section{
                padding: 15px;
                width: 50%;
                display: flex;
                    justify-content: center;
                    align-items: center;
            }
                .tabs{
                    width: 100%;
                    list-style-type: none;
                    display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 30px;
                }
                    .tabs li{
                        font-weight:900;
                    }
                    .tabs .active{
                        cursor: pointer;
                        color: #E70000;
                    }
                    .tabs li:hover{
                        cursor: pointer;
                        color: #E70000;
                    }
                        .dropbox-reco {
                            position: relative;
                        }
                        .dropbox-reco:hover .choices {
                            display: block;
                        }
                        .dropbox-reco:hover .filler{
                            color: #E70000;
                        }
                            .filler {
                                font-weight:900;
                                cursor: pointer;
                            }
                            .choices {
                                background-color: #D5DFE5;
                                padding: 5px 20px 5px 20px;
                                position: fixed;
                                display: none;
                            }
                                .choices li{
                                    list-style-type: none;
                                }
    section{
        display: flex;
            flex-direction: column;
            align-items: center;
    }
        article {
            width: 100%;
            max-width: 1130px;
        }
            .intro-container{
                width: 100%;
                height: 500px;
                background: url(https://lh3.googleusercontent.com/drive-viewer/AKGpihZGhJyKcfCN0lBwBPDOYJndZZjOxKKK8AjKjm-UU6aCSZ_aLDCyCQKWa3QURCNA0LlzMJsVG3TZtjVRIJU96ipKCPV_OIrZQXE=s1600-v0);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                display: flex;
                    flex-direction: column;
                    justify-content: space-around;
            }
                .intro-item {
                    margin-left: 80px ;
                    width: 400px;
                    color: #fff;
                }
                    .title-top{
                        font-size: 100px;
                        font-weight: bold;
                    }
                    .title-down{
                        font-size: 48px;
                        font-weight: bold;
                    }
                .divider-title {
                    padding-left: 10px;
                    display: flex;
                        flex-direction: column;
                        justify-content: left;
                }
                    .divider-content{
                        font-size: 48px;
                        font-weight: bolder;
                    }
            .articles-containers{
                display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    gap: 20px;
                overflow-y: scroll;
                padding: 20px;
            }
                .articles-containers::-webkit-scrollbar {
                    display: block;
                    height: 5px;
                    border-radius: 50%;
                }
                .articles-containers::-webkit-scrollbar-track {
                    background: transparent;
                }
                /* Handle */
                .articles-containers::-webkit-scrollbar-thumb {
                    background: #E70000;
                    cursor: pointer;
                    border-radius: 50px;   
                }
                /* Handle on hover */
                .articles-containers::-webkit-scrollbar-thumb:hover {
                    background: #920000;
                }
            .box {
                flex-shrink: 0;
                width: 500px;
                aspect-ratio: 3 / 3;
                background-color: rgb(255, 255, 255);
                border-radius: 20px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
            }
                .box-content{
                    width: 90%;
                    text-align: justify;
                    font-size: small;
                }
                    .box-content-title{
                        font-size: larger;
                        font-weight: bolder;
                    }
                .insidebox-2{
                    width: 90%;
                    height: 65%;
                    display: flex;
                    justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                        gap: 10px;
                }
                    .top-handle{
                        display: flex;
                        padding: 1px;
                        width: 95%; 
                        height: 10%;
                        transform: translateY(-15px);
                    }
                    .holder-hr {
                        flex-grow: 1;
                        display: flex;
                            flex-direction: row;
                            justify-content: right;
                            align-items: start;
                    }

                .insidebox{
                    width: 90%;
                    height: 75%;
                    display: flex;
                    justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                        gap: 10px;
                }
                    .small-box{
                        width: 220px;
                        aspect-ratio: 2/1.6;
                        color: blue;
                        overflow: hidden;
                        display: flex;
                            justify-content: center;
                            align-items: center;
                    }
                        .small-box-title{
                            color: black;
                            display: flex;
                                flex-direction: column;
                                align-items: center;
                        }
                            .small-box-big{
                                font-size: 40px;
                                font-family: 'averia serif libre';
                                font-weight: 700;
                            }
                            .small-box-small{
                                font-family: 'inter';
                                font-style: italic;
                                transform: translateY(-13px);
                            }   
                        .small-box-img {
                            height: 100%;
                            width: 100%;
                            border-radius: 20px;
                        }
    footer {
        padding:10px;
        display: flex;
            justify-content: right;
        color: #E70000;
    }
@media only screen and (max-width: 600px) {
    /*styles for phones here */
    
}  
@media only screen and (max-width: 900px) {
    /*styles for tablets here */
    .tabs-section{
        display: none;
    }
    .cp {
        display: block  ;
    }
}
