body {
    margin: 0;
    padding: 0;
    background-color: F0F5F9;
}
    header {
        height: 90px;
        position: sticky;
        background-color: red;
    }
        .header-container {
            display: flex;
            justify-content: space-between;
        }
            .small-section {
                background-color: blue;
                height: 90px;
                width: 150px;
                display: flex;
                    justify-content: center;
                    align-items: center;
            }  
                .logo{
                    height: 70px;
                    width: 70px;
                }
            .tabs-section{
                width: 300px;
                background-color: green;
                display: flex;
                justify-content: center;
                    align-items: center;
            }
                .tabs{
                    width: 100%;
                    list-style-type: none;
                    display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        gap: 10px;
                }